@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,900;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
h3{
    font-size: 22px;
}
.pt-150{
    padding-top: 150px;
}
.pl-60{
    padding-left: 60px;
}
.fs-15{
    font-size: 15px;
}
.bg-clr{
    background-color: #DDFBFEA3;
}
.bg-clr-1{
    background: #E6FFE1D9;
}
.pad-rl-50{
    padding-left: 25px;
    padding-right: 25px;
}
.text-r{
    text-align: right;
}
.logo-h{
    width: 200px;
}
.nav-bg-clr{
    background-color: #116211;
    border-top-left-radius: 77px;
    padding: 0 50px;
}
.menu-head a{
    color: #fff!important;
    font-size: 16px;
   padding:5px 10px!important ;
    border: 1px solid transparent;
   
}
.about-menu{
    background-color: #116211E5;
    
}
.about-menu a:hover{
    background-color: #116211;
    margin: auto;
    border: 1px solid;
}
.hero-banner{
    position: relative;
    background-image: url(images/image.png);
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
}
.hero-content{
    position: absolute;
    bottom: 15%;
    background: #116211E5;
    padding: 10px 50px;
    border-bottom-left-radius: 50px;
    color: #fff;
}
.hero-content h3{
    font-size: 40px;
    font-weight: 400;
}
.hero-content span{
    font-weight: 700;
}
.para p{
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}
.action-button button{
    background: #116211;
    color: #fff;
    padding: 7px 24px;
    border-radius: 50px;
    border: none;
    font-weight: 600;
    margin: 0 50px;
    
}
.about-head-content h3{
    background: #116211;
    width: 70%;
    font-size: 20px;
    color: #fff;
    padding: 5px 50px 5px 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.about-content p{
    font-weight: 600;
    font-size: 16px;
}
.about-link a{
    color: #000;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}
.bg-impact{
    background-color: #DCDADAAB;
    border-radius: 30px;
    padding: 0 30px;
}
.impact-head{
    position: relative;
    top: -20px;
}
.impact-head span{
    font-weight: 600;
    color: #fff;
    background: #116211;
    font-size: 25px;
    /* position: absolute; */
    top: -25px;
    padding: 3px 70px;
    border-radius: 25px
}
.bg-green{
    background: #1F391F;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px
}
.bg-green img{
    max-width: 100%;
    width: 100%;
    padding: 20px;
    height: 300px;
}
.our-impact-content h3{
    text-align: center;
    font-weight: 700;
    color: #116211;
}
.our-impact-content p{
    color: #1F391F;
    font-size: 18px;
    text-align: center;
    font-weight: 400;

}
.program-head{
    color: #fff;
    text-align: center;
    background: #116211;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 5px;
}
.program-info{
    color: #116211;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
}
.bg-green-round{
    background: #1F391F;
    border-radius: 30px;
    
}
.bg-green-round img{
    max-width: 100%;
    width: 100%;
    padding: 20px;
    height: 350px;
}
.pro-description p{
    text-align: center;
    padding: 10px 50px;
}
.vision-sec h2{
    color: #1F391F;
}
.vision-content p{
    padding: 50px;
    background: #116211;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    color: #fff;
    font-size: 18px;
    text-align: center;
}
.get-involved h2{
    color: #1D384E;
}
.get-involved p{
    text-align: justify;
    font-size: 14px;
}
.news-letter h2{
    background: #116211;
    text-align: center;
    color: #fff;
    padding: 3px 0;
    box-shadow: none;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);

}
.border-line{
    padding: 20px;
    border: 1px solid #116211E5;
}
.news-letter p{
    padding: 0 50px;
    line-height: 0.75;
    font-weight: 500;
}
.contact-sec{
    background: #116211;
    color: #fff;
    padding: 20px 50px;
    border-radius: 10px;
}
.contact-sec .contact-details{
    
    border-top-right-radius: 30px;
    background: #116211;
    border-bottom-right-radius: 30px;
    color: #fff;
    

}
.contact .mail{
    font-size: 18px;
    font-weight: 600;
}
.contact p a{
    color: #000;
    text-decoration: underline;
}
.contact-sec .signup-details{
    text-align: center;
    border-top-left-radius: 30px;
    background: #116211;
    border-bottom-left-radius: 30px;
    color: #fff;
    

}
.signup-form input{
    background: #D9D9D9;
    border-radius: 20px;
    width: 100%;
    margin-left: 30px;

}
.signup-form label{
    font-size: 15px;
    font-weight: 700;
}

.txt-clr-1 {
    color: #116211;
}
.txt-clr-2 {
    color: #000000;
}
.txt-clr-3 {
    color:#1D384E;
}
.head-1 {
    font-size: 20px;
}
.rounded-shape-1 {
    background: #116211;
    color: #fff;
    padding: 5px;
    border-radius: 50px;
    border: none;
    font-weight: 600;
    /* margin: 0 50px; */
    width: 70%;
    margin: auto;
    font-size: 22px;
    text-align: center;
}
.rounded-shape-2{
    
    
    background: #116211;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;

}
.rounded-shape-3{
    /* Rectangle 50 */


border-bottom-left-radius: 40px;
border-bottom-right-radius: 40px;

background: #F3FFF0;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 0px 0px 70px 70px;

}
.rounded-shape-4{
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
 
 background: #116211;
 border-radius: 44px 44px 0px 0px;
 width: 80%;
 margin: auto;
 
 }
 
.programs{
    text-align: justify;
    padding: 0 100px;
    font-weight: 500;
}
.rounded-shape-5{
    border-radius: 25px;
    background: #D9D9D9;
    padding: 20px;
}
.half-round{
    background: #116211;
   border-bottom-left-radius: 30px;
   border-top-left-radius: 30px;
    position: absolute;
    right: 50px;
    padding: 3px 50px
}

.bg-green-partner img{
    background: #fff;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
width: 100%;
padding: 10px;
height: 170px;
}
.social-logo a img{
    width: 25px;
     border: 1px solid #000;
     padding: 3px;
     margin: 3px;
}
.social-link a img{
    font-size: 15px;
    color: #000;
}
.fs-20{
    font-size: 20px;
}
.fs-25{
    font-size: 25px;
}
.font-w-5{
    font-weight: 500;
}
.font-w-7{
    font-weight: 700;
}
.trustee .profile-img{
    text-align: center;
}
.trustee ul li{
    font-size: 15px;
}
.trustee-desc{
    display: flex;
    gap: 15px;
}
.trustee-desc a{
    padding-top: 15px;
}
.advisor .profile-img{
    
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 10px;
    
}
.font-fam{
    font-family:  Poppins, serif;
    font-size: 15px;
  }
.bar-line{
    background: #116211;
    width: 5px !important;
}
.social-media img{
    width: 30px;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 5px;
}
/* .follow-us{
    background: #116211;
    border-radius: 10px;
} */
.follow-us h3{
    font-weight: 600;
    color: #fff;
   background: #116211;
    font-size: 22px;
    /* position: absolute; */
    top: -25px;
    padding: 3px 70px;
    border-radius: 25px
}
.hr-line{
    background-color: #000000;
    width: 90%;
    margin: auto;
}
.blog-hr-line{
    background: #2eb31c;
    width: 70%;
    margin: auto;
}
.home-hr-line{
    background: #2eb31c;
    width: 40%;
    margin: auto;
}
.karta-fund img{
    height: 350px;
}
.plan-img-h{
    height: 450px;
}
.about-img {
    border-radius: 50px;
    
    background-color:#1F391F;
    padding: 20px;
}
.about-img img{
    height: 450px;
}
.text-r{
    text-align: right;
}
.pad-0{
    padding: 0;
}
.quick-link{
    display: flex;
    gap: 30px;
}
.quick-link li{
    list-style: circle;
    color: #fff;
}
.quick-link li a{
    color: #fff;
    font-size: 15px;
}
.pop-up{
    text-align: center;
    background: yellowgreen;
    /* margin: 10%; */
    width: 300px;
    margin: auto;
    margin-top: 100px;
    padding: 150px 50px;
    border-radius: 10px;
    height: 200px;
    box-shadow: 0 0 0 2px #f1f1f1;
}

@media only screen and (max-width: 600px) {
    h2{
        font-size: 18px;
    }
    h3{
        font-size: 16px;
    }
    h4{
        font-size: 16px;

    }
    h5{
        font-size: 15px;

    }
    p{
        font-size: 14px;
    }
    li{
        font-size: 13px;
    }
    .hero-content h3 {
        font-size: 20px;
    }
    .bg-green{
        margin: 10px 15px;
    }
    .logo{
        width: 170px;
    }
    .rounded-shape-3{
        width: 80%;
    }
    .rounded-shape-4{
        width: 100%;
    }
    .programs{
        padding: 0;
    }
    .karta-fund img {
        height: 180px;
    }
    .rounded-shape-5{
        padding: 15px;
    }
    .fs-25{
        font-size: 16px;
    }
    .pt-150{
        padding: 10px;
    }
    .para p{
        font-size: 14px;
    }
    .action-button button{
        margin: 5px ;
        font-size: 14px;
        padding: 3px 24px;
    }
    .about-head-content h3{
        width: 100%;
        font-size: 15px;
        padding: 3px 7px;
        text-align: center;
    }
    .about-content p {
    
        font-size: 14px;
}
.about-link a{
    font-size: 15px;
}
.impact-head span{
    font-size: 16px;
}
.impact-head{
    top: -10px;
}
.our-impact-content p{
    font-size: 14px;
}
.program-info{
    font-size: 14px;
}
.vision-content p {
    padding: 30px;
    font-size: 14px;
}
.news-letter p {
    padding: 0 ;
    line-height: 1rem;
}
.contact .mail {
    font-size: 14px;
}
.signup-form label {
    font-size: 14px;
   
}
.signup-form input {
    margin-left: 0;
    width: 100%;
    
}
.text-r{
    text-align: center;
}
.about-img img {
 
 height: auto;
}
.head-1 {
    font-size: 15px;
}
.rounded-shape-1{
    font-size: 16px;
    padding: 7px;
}
.bg-green img{
    height: auto;
}
.mob-btn{
    background: #000;
    border-radius: 5px;
    padding: 12px;
    margin: 10px;
}
.pad-0{
    padding: 20px;
}
.follow-us h3{
    
    font-size: 16px;
}
.pad-rl-50{
    padding-right:0 ;
    padding-left: 0;
}
.text-r{
    text-align: center;
}
.trustee-desc a {
    padding-top: 10px;
}
}